*.jpg
*.png
.idea/
*.qmd
.ipynb_checkpoints
sat4ec/execution/.ipynb_checkpoints
sat4ec/__pycache__
sat4ec/execution/__pycache__
sat4ec/system/__pycache__
sat4ec/system/credentials.yaml
results
credentials
tests/testdata
data
docs
output

!tests/testdata/AOIs/*.geojson
